@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .bg-gradient-primary {
        @apply bg-gradient-to-r from-[#fe3847] to-[#171c44]
    }
    .body-container {
        @apply px-4 md:px-10 lg:px-20 2xl:px-60  py-6 md:py-10;
    }
    .form-group.invalid .form-control {
        @apply border-red-500
    }

    .form-message {
        @apply text-red-500;
    }
}

* {
    -webkit-tap-highlight-color: transparent;
}

.btn {
    --duration: 0.5s;
    position: relative;
    background-color: transparent;
    border-radius: 8px;
    cursor: pointer;
    padding: 8px;
    border: 1px solid;
    text-align: center;
    transition: border-color var(--duration) 0.2s;
    overflow: hidden;
}

.btn.btn-animation:hover {
    border-color: transparent;
    transition: border-color var(--duration) 0.2s;
}

.btn.btn-animation::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: left;
    transition: var(--duration);
    z-index: 1;
}

.btn.btn-animation:hover::before {
    transform: scaleX(1);
    transform-origin: left;
    transition:var(--duration);
}

.btn.btn-animation span {
    position: relative;
    z-index: 2;
    transition: all var(--duration);
}

.btn.btn-animation:hover span {
    color: #181c45;
    transition: all var(--duration);
}

.slick-list {
    width: 100% !important;
}